* {
    font-family: 'Mulish', sans-serif;
    margin: 0rem;
    padding: 0rem;
    /* background-color: #F5FCFF; */
    /* max-width: 95%;
    margin: 0px auto; */
}

.max-width {
    max-width: 90%;
    margin: 0px auto;
}

/* Navbar section  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar a {
    color: #020043;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    width: 124.818px;
    height: 33px;
}

#appointment {
    display: none;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar .menu li {
    padding: 0px 10px;
}

.navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #343268;
}

.navbar .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

button {
    padding: 0.5rem;
    border: 2px solid #343268;
    border-radius: 0.75rem;
    width: 174px;
    height: 48px;
    margin: 0.5rem 0rem;
}

.arrow {
    width: 0.75rem;
    height: 0px;
    transform: rotate(-45deg);
    margin-left: 0.25rem;
}

/* banner section  */
.banner {
    margin: 2rem 0rem;
    background: linear-gradient(s179deg, rgba(0, 193, 157, 0.00) -25.42%, rgba(2, 0, 67, 0.47) 107.11%);
}

.banner img {
    width: 100%;
    margin: auto;
    border-radius: 2.5rem;
    margin: 0px auto;
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
    height: auto;
}

.container .sub-container {
    padding: 0.5rem;
    border-radius: 24px;
    border: 0.5px solid rgba(2, 0, 67, 0.20);

}

.sub-container-1 {
    background-color: #FBFBFB;
    grid-column: 1/3;
    grid-row: 1/span 11;
    /* padding: 0.5rem;
    border-radius: 24px;
    border: 0.5px solid rgba(2, 0, 67, 0.20);
    background: #FBFBFB; */
}

.sub-container-1 .rate {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 5rem auto;
}

.sub-container-1 div h1 {
    background-color: #FBFBFB;
    margin: 4rem 0rem 1rem 0rem;
}

.sub-container-2 {
    grid-column: 3/9;
    grid-row: 1/span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container-2 {
    color: var(--Text, #020043);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
}

.sub-container-3 {
    background-color: #FFFFF5;
    grid-column: 3/5;
    grid-row: 6/span 6;
}

.sub-container-4 {
    background-color: #FBFBFB;
    grid-column: 5/7;
    grid-row: 7/span 5;
}

.sub-container-5 {
    background-color: #FFFFF5;
    grid-column: 7/9;
    grid-row: 6/span 6;
}

.sub-container-6 {
    background-color: #FBFBFB;
    grid-column: 9/11;
    grid-row: 1/span 11;
}

.sub-container-6 .camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 5rem auto;
}

.sub-container-6 div h1 {
    margin: 4rem 0rem 1rem 0rem;
}

/* our mission section  */
.our-mission {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mission-content h2 {
    color: var(--Text, #020043);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.mission-content button {
    border-radius: 25px;
    border: 1px solid var(--text-80, #343268);
    background: #FFFFF5;
}




.mission-card {
    position: absolute;
    top: 60%;
    left: 50%;
    bottom: 0;
    width: 395px;
    height: auto;
    padding: 1rem;
    border-radius: 2rem;
    background: var(--text-80, #343268);

}

.mission-card p {
    padding-top: 1rem;
    background: var(--text-80, #343268);
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.mission-card h2 {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--text-80, #343268);


}

.content {
    width: 80%;
    margin: 1rem 0rem;
    color: var(--text-70, #4D4C7B);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* service section  */
.service {
    background: #FFFFF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto;

}

.service div {
    /* border: 20px solid navy; */
    width: 50%;
}

.service-img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

.service-content h2 {
    color: var(--Text, #020043);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    background: #FFFFF5;
}

.service-content {
    margin: 2rem auto;
    width: 50%;
}

.service-content p {
    background: #FFFFF5;
}

.service-content button {

    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid var(--text-70, #4D4C7B);
    background: #FBFBFB;
}

/* Testimonial section  */
.review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-content h2 {
    color: var(--Text, #020043);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.testimonial-content button {

    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--text-70, #4D4C7B);
    background: #FBFBFB;
}

.card {
    border-radius: 16px;
    background: var(--Secondary-Color, #FFFFF5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin: 0 0 10px;
}

.card-text {
    font-size: 1rem;
    margin: 0 0 15px;
    color: #333;
}

.user-rating p {
    color: var(--Text, #020043);
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

.user-name {

    font-weight: 600;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.star-rating {
    display: flex;
}

.star {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star:hover,
.star:hover~.star {
    color: #ff9800;
}

.star.selected,
.star.selected~.star {
    color: #ff9800;
}

/* FAQ section  */
.faq-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    width: 100%;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq {
    border-top: 1px solid #ddd;
}

.faq-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-arrow {
    display: inline;
    position: absolute;
    left: 98%;
    padding-right: 1rem;
}

.question {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
    background: var(--Secondary-Color, #FFFFF5);
}

.question h3 {
    position: relative;
    cursor: pointer;
    margin: 0;
    font-size: 1.2rem;
    color: #333;

}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.answer.active {
    max-height: 200px;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar .menu li {
        text-align: center;
        padding: 10px 0px;
    }

    .navbar .hamburger {
        display: flex;
    }

    .appoint {
        display: none;
    }

    button {
        padding: 0.05rem;
        width: 6rem;

    }

    .arrow {
        display: none;
    }

    .banner img {
        border-radius: 1rem;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin: 0rem auto;
    }

    .sub-container-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .sub-container-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .sub-container-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }

    .sub-container-4 {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    .sub-container-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .sub-container-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .container div {
        width: 80%;
        margin: 0rem auto;
    }

    /* our mission section  */
    .our-mission {
        display: flex;
        flex-direction: column;

    }

    .mission-card {
        width: 100%;
        margin: 0rem auto;
        margin-left: -0.5rem;
        padding: 0.75rem;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }

    .mission-img {
        width: 100%;
        margin: 0rem auto;
    }

    .service {
        flex-direction: column-reverse;

    }

    .service div {
        width: 100%;

    }

    .service-img {
        width: 100%;

    }

    /* Testimonial section  */
    .review-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

.navbar .menu.active {
    display: flex;
}